.body{
    display: flex;
    flex-direction: column;
    min-height: 100vH;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background: rgb(34, 34, 34);
}

.Divider{
    height: 10px;
    background-color: rgb(196, 196, 196);
    border-radius: 5px;
}